<div class="sidebar">
    <div class="logo">
        <div class="logo-icon"></div>
    </div>
    <nav class="menu">
        <a href="inicio.html" data-menu-link>
            <div class="menu-icon"></div> 
            <span>Inicio</span>
        </a>
        <a href="Compras.html" data-menu-link>
            <div class="menu-icon"></div>
            <span>Compras</span>
        </a>
        <a href="Ventas.html" data-menu-link>
            <div class="menu-icon"></div>
            <span>Ventas</span>
        </a>
        <a href="Informe.html" data-menu-link>
            <div class="menu-icon"></div>
            <span>Informes</span>
        </a>
        <a href="asociado.html" data-menu-link>
            <div class="menu-icon"></div>
            <span>Asociados</span>
        </a>
        <a href="Material.html" data-menu-link>
            <div class="menu-icon"></div>
            <span>Materiales</span>
        </a>
        <a href="Inventario.html" data-menu-link>
            <i class="fas fa-warehouse menu-icon menu-icon-fa"></i>
            <span>Inventario</span>
        </a>
        <a href="perfil.html" data-menu-link>
            <div class="menu-icon"></div>
            <span>Perfil</span>
        </a>
        <a href="Configuracion.html" data-menu-link>
            <div class="menu-icon"></div>
            <span>Configuración</span>
        </a>
    </nav>
    <div class="logout">
        <a href="Index.html" data-menu-link>
            <div class="menu-icon"></div>
            <span>Salir</span>
        </a>
    </div>
</div>
