<div id="modalCategoria" class="modal">
  <div class="modal-content modal-categoria-content">
    <span class="close-btn" id="closeCategoria">&times;</span>
    <h2>Agregar nueva categoría</h2>
    <form id="formCategoria" class="modal-form">
      <label for="nombre-categoria">Nombre de la categoría</label>
      <input
        type="text"
        id="nombre-categoria"
        name="nombre-categoria"
        placeholder="ingrese aqui"
      />
      <button type="submit" class="btn-save btn-guardar-categoria">
        Guardar categoría
      </button>
    </form>
  </div>
</div>