<div id="modalNombreMaterial" class="modal">
  <div class="modal-content">
    <span class="close-btn" id="closeNombreMaterial">&times;</span>
    <h2>Agregar nuevo nombre de material</h2>
    <form id="formNombreMaterial" class="modal-form">
      <label for="nombre-nombre-material">Nombre del material</label>
      <input
        type="text"
        id="nombre-nombre-material"
        name="nombre-nombre-material"
        placeholder="Ingrese nombre"
      />
      <button type="submit" class="btn-save">
        Guardar nombre
      </button>
    </form>
  </div>
</div>

